body{
    /* background-color: rgb(248, 243, 193); */
    background-image: url('https://images.template.net/93536/white-texture-background-sgd8u.jpg');
}

.numberButtons{
    display: flex;
    align-items: center;
    justify-content: center;
}

#box{
    width: 290px;
    height: 475px;    
    border: 2px solid red;
    margin: auto;
    padding: auto;
    border-radius: 10px;
    background-image: url('https://www.nawpic.com/media/2020/black-background-nawpic-21.jpg');
    z-index: -5;
}

h1{
    height: 110px;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

#input{
    height: 114px;
    width: 213px;
    margin-bottom: 12px;
    border-color: white;
    background-color: #c3b6b6;
    border-width: 3px;
    border-radius: 6px;
    font-size: 24px;
    /* text-align: right; */
    text-align: end;
   margin-top: 35px; 
}

.button{
    
    margin: 2.5px;
    height: 50px;
    width: 50px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    color: #0e0c0c;
    background-color: #c3b6b6;
}